extends layout

block content
  h1= title
  h2 Welcome to #{title}
   h2='Apps:'
   a(href='/apps/aam') Asset Management Platform
   br
   br
   a(href='/apps/ssngrx') Global Authentication Service 
   br 
   br
   a(href='/apps/rtq') Real-Time Quotes Server
   br 
   br
   a(href='/apps/cv-site') CV Page Andrusenko
